hr{
  border-top: 1px solid #aaaaaa;
}
@media (min-width: 960px) {
  .title_spons{
    height: 350px;
  }

  .proshow_spons{
    height: 250px;
  }

  .audio_spons{
    width: 50%;
  }
}

.sponsor_heading{
  margin: 20px;
}

.img-responsive{
  margin-top: 20px;
  margin-bottom: 20px;
}